body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Extension1
{ 
   color: #FFFFFF;
   font-family: Arial; 
   font-size: 16px; 
   padding: 0;
   width: 100%; 
}
#Extension1 video
{ 
   margin: 0; 
   width: 100%; 
}
#Extension1-player
{ 
   background-color: #231F20; 
   margin: 0 auto; 
}
#Extension1-navigation 
{ 
   position: relative; 
   text-align: center; 
   padding: 0;
   margin: 0;
}
#Extension1-caption
{ 
   display: inline; 
}
#Extension1-title 
{ 
   float: right;
   margin: 0; 
   padding: 10px 20px; 
   text-align: right; 
}
#Extension1-info 
{ 
   float: left; 
   padding: 10px 20px; 
   position: absolute; 
}
#Extension1-playlist 
{ 
   margin: 0 auto; 
}
#Extension1-playlist ul
{ 
   list-style: none;
   margin: 0; 
   padding: 0;
}
#Extension1-playlist ul li 
{ 
   background-color: #231F20; 
   cursor: pointer; 
   display: block; 
   margin: 0; 
   padding: 10px 0; 
}
#Extension1-playlist ul li:hover 
{ 
   background-color: #A9A9A9; 
   color: #222222;
}
#Extension1 .item 
{ 
   padding-left: 20px;
   position: relative; 
}
#Extension1 .length 
{ 
   padding-right: 20px; 
   position: absolute; 
   right: 0; 
   top: 0; 
}
#Extension1 .selected, #Extension1 .selected:hover 
{ 
   background-color: #A9A9A9 !important;
   color: #222222 !important;
   cursor: default !important; 
}
#Extension1-prev, #Extension1-next
{ 
   background-color: #231F20; 
   color: #FFFFFF; 
   cursor: pointer; 
   display: inline-block; 
   font-size: 32px; 
   margin: 0; 
   padding: 10px 16px; 
   text-decoration: none; 
}
#Extension1-prev:hover, #Extension1-prev:active, #Extension1-next:hover, #Extension1-next:active 
{ 
   background-color: #A9A9A9; 
   color: #222222;
}

